body {
  background-color: gray;
  color: orange;

}
img { height:50px;
width:50px;
}
.list { background-color: red;
color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
}

nav>ul.container {
  //these styles will extend the styles already contained in the .container class
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: inline;
  list-style-type: none;
}

header {
  margin-top: 1.3em;
}

.container { margin-top: 50px;
overflow: auto;
  max-width: 960px;
  margin: 0 auto;
}

#content {
  float: left;
  width: 75%;
}

#sidebar {
  width: 25%;
  float: left;}


fieldset { border-color: black;}
