body {
  background-color: white;
  color: black;

}
img { margin-top: 50px;
   height:50px;
width:50px;
border-radius: 50%;
}
.list { background-color: red;
color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
}



nav li {
  display: inline;
  list-style-type: none;
}


nav>.ulcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects {margin-top: 50px;}

#greeting { background-color: pink;}

.profile-pic { margin-top: 100px; height: 100px; width: 100px border-radius
50%;}

header {
  margin-top: 1.3em;
}

#list {background-color: red; color: blue}

a { background-color: transparent;}

.container {
  margin-top: 100px;
overflow: auto;
}

.content-area {

  /*float: left;*/
  /*width: 70%;*/
}

.field-3 { border-color: black;}
.subscribe {background-color: lightblue;}

.sidebar {
  /*width: 30%;*/
/*float: left; background-color: black;}*/}

.highlighted {color: red;}

fieldset { border-color: black;}
